nav {
  border: 1px solid black;
  text-align: center;
  color: white;
}

.btn {
  display: inline-block;
  background-color: rgb(105, 105, 105);
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn > ul {
  display: none;
  background-color: gray;
  position: absolute;
}

.btn:hover {
  background-color: black;
}

.btn:hover > ul {
  display: block;
}

nav ul {
  list-style: none;
  padding: 0px;
}

.btn > ul > li {
  padding: 20px;

}

.btn > ul > li:hover {
  background-color: cadetblue;
}